<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hobbyist.bookingapp.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hobbyist-bookingapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hobbyist.bookingapp.stripe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hobbyist-bookingapp-stripe</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hobbyist.bookingapp.applesignin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.hobbyist.bookingapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.540951673808-34ukvolfrb87ks6qmt2o5s86ll3idibp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hobbyist.bookingapp.facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1964533104334373</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>mailto</string>
		<string>maps</string>
		<string>instagram</string>
		<string>fb</string>
		<string>twitter</string>
	</array>
	<!-- Facebook Configuration -->
	<key>FacebookAppID</key>
	<string>1964533104334373</string>
	<key>FacebookClientToken</key>
	<string>199b095b3308d6ab373f6acb8f7cc3ad</string>
	<key>FacebookDisplayName</key>
	<string>HobbyApp</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>stripe.com</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>supabase.co</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Hobbyist sends helpful notifications about class reminders, booking confirmations, last-minute availability, and exclusive offers from studios you follow.</string>
	<key>SKPaymentDisallowApplePaySetup</key>
	<false/>
	<key>SKStorefront</key>
	<string>USA</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
